body{
    background-color: cornflowerblue;
    text-align: center;
}


:root{
    --verde:#025157;
    --verdelimon:#a1d683;
    --blanco:#FFFFFF;
}


.container-card{
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    height: 500px;
    background-color:var(--blanco);
    width: 100%;
    column-gap: 10px;
}

.element-card{
    margin-top: 10px;
    width: 100%;
    height: 50%;
    background-color: #67b54b;
}

.img-card{
    width: 100%;
    height: 60%;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

.division{
    margin-top: 50px;
    column-count: 2;
}

li{
    display: inline;
    padding-left: 25px;
    color: #025157;
}

nav{
    font-family: sans-serif;
}

b{
    font-size: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: midnightblue;
}


.buttonMenu{
    color: #fff;
    background-color: midnightblue;
    border-radius: 5px;
}


.categoria{
    margin-top: 10px;
    width: 100%;
    height: 800px;
    background-color: #a1d683;
}

.btn-ad{
    background-color: var(--verde);
    width: 150px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-ad:hover{
    background-color: var(--verdelimon);
    color: var(--verde);
    cursor: pointer;
}

.parent{
    display: flex;
}

.child{
    width: 50%;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 1px;
}

.contenedor-info > img{
    width: 50%;
}

.info-ad{
    width: 50%;
    background-color: white;
}

.contenedor-info{
    display: flex;
    flex-direction: column;
}

.child > h2{
    margin-top: 0;
    color:var(--verde);
    font-size: 30px;
}

.info-ad > p{
    margin-left: 10%;
    margin-right: 10%;
}

.child > p {
    margin: 30px 20px 30px 20px;
}

.child > button{
    background-color: var(--verde);
    color: white;
    position: initial;
}


.btns{
    display: flex;
    margin-left: 40px;
}


.fixed-header{
    position: fixed;
    background-color: white;
    top:0;
    left: 0;
    right: 0;
}

.header {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 40px 20px 20px 20px;
    font-size: 0;
    line-height: 45px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.acctions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.acctions > li{
    color: #67b54b;
}

.acctions > li > button {
    color: #67b54b;
}



.navar{
    width: 15%;
    text-align: left;    
}

.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
}

.features-art{
    background-color: blue;
    margin: 10px;
    width: 40%;
    height: 50px;
}