body{
    background-color: silver;
    text-align: center;
}

li{
    display: inline;
}

b{
    font-size: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: midnightblue;
}

button{
    color: #fff;
    background-color: midnightblue;
}

.header {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 40px 20px 20px 20px;
    font-size: 0;
    line-height: 45px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.acctions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.navar{
    width: 15%;
    text-align: center;
}