body{
    background-color: silver;
    text-align: center;
}

li{
    display: inline;
}

b{
    font-size: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: midnightblue;
}

button{
    color: #fff;
    background-color: midnightblue;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }